body {
    color: white;
    background: rgb(248, 65, 108);
    margin: 20px;
    text-align: center;
}

header {
    border-bottom: solid 2px white;
    padding: 13px;
    font-size: 50px;
    color: white;
    font-family:cursive;

}

section {
    background: rgb(10, 10, 10);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}

.chamada-texto {
    margin-right: 10%;
    text-align: center;

}
